.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
rebar3.crashdump
.rebar
logs
_build
apps/esyslog/src/esyslog_message_lexer.erl
apps/esyslog/src/esyslog_message_parser.erl
*~
rel/deb/*.deb
