%% -*- erlang -*-

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

%%-------------------------------------------------------------------
%% Dependencies
%%-------------------------------------------------------------------

{deps,
  [
   recon,
   trie,
   fifo_utils,
   {lager, "~>3.2.0"},
   {ranch, "~>1.2.1"},
   {cowboy, "~>1.0.0"},
   {jsone, "~>1.2.3"},
   {hackney, "~>1.6.0"},
   {mmath, "~>0.2.9"},
   {dqe_idx, "~>0.1.14"},
   {dp_decoder, "~>0.2.6"},
   {dqe_idx_pg, "~>0.2.11"},
   {ddb_connection, "~>0.1.0"}
  ]}.

%%-------------------------------------------------------------------
%% Plugins
%%-------------------------------------------------------------------

{project_plugins, [{rebar3_cuttlefish, "0.10.0"}]}.
{plugins, [rebar3_auto]}.


%%-------------------------------------------------------------------
%% Cuttlefish
%%-------------------------------------------------------------------

{cuttlefish,
 [{file_name, "ddb_proxy.conf.example"},
  {schema_discovery, false}]}.

%%-------------------------------------------------------------------
%% Profiles
%%-------------------------------------------------------------------

{profiles,
 [{prod, [{relx, [{dev_mode, false},
                  {include_erts, true}]}]},
  {deb, [{relx, [{dev_mode, false},
                 {include_erts, true},
                 {overlay_vars, "rel/vars/deb.config"}]},
         {cuttlefish, [{file_name, "ddb_proxy.conf.example"}]}]}
 ]}.

%%-------------------------------------------------------------------
%% RELx
%%-------------------------------------------------------------------

{relx,
  [{release, {ddb_proxy, "0.2.0"},
         [ddb_proxy,
          {recon, load},
          sasl]},

        {overlay_vars, "rel/vars.config"},
        {dev_mode, true},
        {include_erts, true},
        {generate_start_script, false},

        {overlay,
          [{mkdir, "etc"},
           {mkdir, "share"},
           {template, "rel/files/ddb_proxy", "bin/ddb_proxy"},
           {copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
           {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "share/ddb_proxy.xml", "share/ddb_proxy.xml"},
           {template, "schema/ddb_proxy.schema",
            "share/schema/00-ddb_proxy.schema"},
           {template, "schema/erlang_vm.schema",
            "share/schema/01-vm.schema"},
           {template, "\{\{build_dir\}\}/lib/dqe_idx_pg/priv/dqe_idx_pg.schema",
            "share/schema/02-dqe_idx_pg.schema"},
           {template, "\{\{build_dir\}\}/lib/dqe_idx/priv/dqe_idx.schema",
            "share/schema/03-dqe_idx.schema"},
           {template, "\{\{build_dir\}\}/lib/ddb_connection/priv/ddb_connection.schema",
            "share/schema/04-ddb_connection.schema"},
           {template, "schema/lager.schema",
            "share/schema/06-lager.schema"}
          ]}
]}.
