{erl_opts, [debug_info]}.
{deps,
  [
   {ranch, "~>1.2.1"},
   {dqe_idx, "~>0.1.12"},
   {dqe_idx_pg, "~>0.1.18"},
   {ddb_client, "~>0.1.20"}
  ]}.

{plugins, [rebar3_auto]}.
{relx, [{release, { ddb_proxy, "0.1.0" },
         [ddb_proxy,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
