Package: dalmatinerpx
Version: 0.3.2
License: MIT
Section: base
Vendor: Project-Fifo
Maintainer: Project-Fifo <info@project-fifo.net>
Priority: optional
Architecture: amd64
Homepage: http://www.dalmatiner.io
Description: Dalmatiner PX
  Distributed TSBD. Woof.
