[Unit]
Description=DalmatinerDB Proxy
After=network.target

[Service]
User=dalmatinerpx
Group=dalmatinerpx
ExecStart=/usr/lib/dpx/bin/dpx console -noinput +Bd

[Install]
WantedBy=multi-user.target

