%%
%% rebar.config
%%
{build_dir, "{{output_dir}}/../.."}.

%%
%% app.config
%%
{run_user_home,                 "/data/dalmatinerpx"}.
{prometheus_default_bucket,     "prom"}.
{prometheus_default_url,        "http://localhost:9100/metrics"}.
{prometheus_default_frequency,  10000}.
{listeners_default_decoder,     "dp_influx"}.
{listeners_default_bucket,      "InfluxDB"}.
{listeners_default_port,        8086}.
{listeners_default_proto,       http}.
{log_path,                      "/data/dalmatinerpx/log"}.

%%
%% etc/vm.args
%%
{node,                          "dalmatinerpx@127.0.0.1"}.
{crash_dump,                    "/data/dalmatinerpx/log"}.
{distributed_cookie,            "dalmatinerpx_cookie"}.
{run_user,                      "dalmatiner"}.

{cuttlefish_conf,               "dalmatinerpx.conf"}.

{platform_etc_dir,              "/data/dalmatinerpx/etc"}.
{platform_bin_dir,              "./bin"}.
{platform_lib_dir,              "./lib"}.
{platform_log_dir,              "/data/dalmatinerpx/log"}.

{bugsnag_app_version,           "0.3.2p4"}.
{service,                       "ddb_proxy"}.

