%%
%% rebar.config
%%
{build_dir, "{{output_dir}}/../.."}.

%%
%% app.config
%%
{run_user_home,                 "/data/ddb_proxy"}.
{prometheus_default_bucket,     "prom"}.
{prometheus_default_url,        "http://localhost:9100/metrics"}.
{prometheus_default_frequency,  10000}.
{listeners_default_decoder,     "dp_otsdb"}.
{listeners_default_bucket,      "OpenTSDB"}.
{listeners_default_port,        4242}.
{log_path,                      "/data/ddb_proxy/log"}.

%%
%% etc/vm.args
%%
{node,                          "ddb_proxy@127.0.0.1"}.
{crash_dump,                    "/data/ddb_proxy/log"}.
{distributed_cookie,            "ddb_proxy_cookie"}.
{run_user,                      "dalmatiner"}.

{cuttlefish_conf,               "ddb_proxy.conf"}.

{platform_etc_dir,              "/data/ddb_proxy/etc"}.
{platform_bin_dir,              "./bin"}.
{platform_lib_dir,              "./lib"}.
{platform_log_dir,              "/data/ddb_proxy/log"}.
